*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
h1,h2,h3,h4,h5,h6{
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
}
html,body{
    width: 100%;
    height: 100%;
    background: #f2f2f2;
}
html{
    position: relative;
}
header{
    width:100%;
    background: #303030;
    position: absolute;
    right: 0;
}
header nav{
    margin: 0 auto;
    width: 982px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 44px;
    color: #fff;
    font-size: 12px;
}
nav li:hover{
    color: rgb(194, 184, 184);
    transition: 0.2s;
    cursor: pointer;
}
/* header .last_nav{
    position: relative;
} */
header .menu{
    position: absolute;
    top:48px;
    right: 17px;
    width:290px;
    height: 310px;
    border: 1px solid #d6d6d6;
    padding:0 20px;
    background: #fff;
    display: none;
}
/* header .icon-gouwudai div.target{
    display: block;
} */
header .menu .iconfont{
    display: inline;
    font-size: 15px !important;
    color: #0070d3;
    margin-right: 14px;
}
header .up{
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    left:50%;
    top: -10px;
    overflow: hidden;
    z-index: 1;
}
header .up::after{
    border: 1px solid #d6d6d6;
    display: inline-block;
    content:"";
    height: 12px;
    width: 12px;
    transform: rotate(45deg);
    background: #fff;
}
header ol li{
    cursor: pointer;
    height: 44px;
    width: 248px;
    border-top: 1px solid #d6d6d6;
}
header ol li:hover a{
    text-decoration: underline;    
}
header ol li a{
    /* display: inline; */
    text-decoration: none;
    text-align: center;
    line-height: 44px;
    color: #0070d3;
    font-size: 13px;
}
header .menu p{
    line-height: 87px;
    text-align: center;
    font-size: 13px;
    color: #888;
}
section{
    width: 100%;
    height: 100%;
    padding-top:96px;
}
main{
    width: 980px;
    height: 472px;  
    background: #fff;
    margin: 0 auto;
    padding:22px 24px;
}
section h1{
    width: 100%;
    height: 36px;
    font-size: 23px;
    font-weight: bold;
    border-bottom: #e6e6e6 1px solid;
}
section h1 span{
    font-size: 12px;
    float: right;
    font-weight: normal;
    margin-top: 10px;
    color: #666;
}
main form{
    float: left;
    width: 467px;
    height: 265px;
    padding:90px 60px 0 70px;  
}
main form h2{
    font-weight: bold;
    font-size: 18px;   
}
main .inp{
    width: 100%;
    height: 125px;
    padding: 18px  0px;
}
main form input{
    margin: 0 auto;
    width: 338px;
    height: 38px;
    border: 1px solid #d6d6d6;
    border-radius:4px; 
    padding-left: 10px;
    box-shadow:0px 1px 2px rgb(173, 166, 166) inset;
}
form .warm a{
    display: inline-block;
    width: 136px;
    height: 29px;
    color:#0f67b4;
    font-size: 11px;
    line-height: 18px;
}
form .warm button{
    width: 84px;
    height: 35px;
    border-radius: 5px;
    background: #2595de;
    float: right;
    border: 0;
    box-shadow:0px -1px  #0f67b4;
    color: #fff;
}
form .warm button:hover{
    background: #0070d3;
    cursor: pointer;
}

.shadow{
    float: left;
    width: 4px;
    height: 414px;
    background: url(../images/images/shadow_03.jpg)
}

section .section-right{
    width: 342px;
    height: 347px;
    float: left;
    padding:90px 0 056px;
    margin-left: 60px;
}
.section-right p{
    margin-bottom: 12px;
}
section .section-right li{
    list-style: disc inside;
    color: #666;
    font-size: 15px;
    padding-left: 10px;
    line-height: 24px;
}
.section-right a{
    color:#0f67b4;
    font-size: 11px;           
}
 