*{
    margin: 0 auto;
}
.fade{
    width: 1263px;
    height:641px;
    background: black;
}
.img-box{
    width: 1000px;
    height: 641px;
    position: relative;
    margin: 0 auto;
}
.fade-box{
    position: relative;
}
.fade-box li{
    height:641px;
    position: absolute;
    overflow: hidden;
    width: 1000px; 
    left: 0;
    top: 0; 
}
.fade .fade-box li  img{
    width: 1000px; 
    height:641px;
}

.fade .mini-box li{
    width: 10px;
    height: 10px;
    margin: 8px;
    background: #888;
    border-radius: 50%;
    float: left;
}
.mini-box{
    position: absolute;
    left: 44%;
    bottom:10px;
    width: 120px;
    height: 30px;
    z-index: 10;
}
.current{
    background: #fff !important;
}
/* .fade button{
    width: 50px;
    height: 50px;
    border-radius:50%;
    background:rgb(95, 94, 94);
    position: absolute;
    top: 48%;
}
.swiper-button-prev{
    left: 20px;
}
.swiper-button-next{
    right: 20px;
}
.fade button:hover{
    background:#888; 
    cursor: pointer;
} */
/* button:focus{
    outline:0;
} */






.shop-main{
    width: 100%;
    height: 800px;
}
.main-nav{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #d2d2d2;
    z-index: 11;
    background: #fff;
}
.main-nav-box{
    margin: 0 auto;
    width: 984px;
}
.main-nav-box h1{
    float: left;
}
.main-nav-box ul{
    float: right;
    margin-top: 24px;
}
.main-nav-box ul li{
    float: left;
    margin-left: 20px;
    font-size:12px;
}
.main-nav-box ul li a{
    color: black;
    text-decoration: none;
}



.shop-fade{
    height: 840px;
    width: 100%;
}
.choose-top-img{
    margin:90px 0 30px 0;
    width: 100%;
    text-align: center;
}
.first-title{
    height: 30px;
    width: 100%;
    background:  rgb(59, 119, 231);
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    position: relative;
    top: -30px;
}
.first-title a{
    color: rgb(59, 119, 231)
}


.left-box,.right-box{
    width: 496px;
    height: 490px;
    text-align: left;
    float: left;
}
.right-box{
    float: left;
    padding-right: 30px;
}
.left-box{
    margin-left:130px; 
    padding-right: 60px;
}
.left-right,.right-left{
    position: relative;
    width: 243px;
    height: 490px;
}

.left-left,.right-right{
    width: 170px;
    height: 192px;
    font-size: 12px;
    margin-top: 68px;
}
.left-right{
    float: right;
}
.right-right{
    float: right;
}
.left-left,.right-left{
    float: left;
}
.left-choose-img{
    position: absolute;
    top: auto;
    /* left: 50px; */
    bottom: 0;
    
}
.center-choose-img{
    position: absolute;
    top: auto;    
    /* left: 70px; */
    bottom: 0;
    
}
.right-choose-img{
    position: absolute;
    top: auto;
    /* left: 90px; */
    bottom: 0;
}
.choose-left-btn,.choose-right-btn{
    width: 63px;
    height: 35px;
    background: rgb(86, 153, 216);
    display: block;
    border:rgb(61, 102, 190) 1px solid;
    border-radius: 4px;
    color: #fff;
    margin: 20px 0;
    font-size: 16px;
}
button:focus{
    outline: 0;
}
.next-btn{
    cursor: pointer;   
}
.next-btn:focus{
    outline: 0;
}

.next-top-img{
    margin-top:120px;
    font-size: 32px;
    font-weight: bold;
}

.pagination{
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 10;
    top: -780px;
}
.pagination span:focus{
    outline: 0;
}
.pagination span li{
    outline: 0;
}
.pagination span{
    cursor: pointer;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin: 0 20px;
    border-radius: 0;
    font-size: 12px;
    background: #fff;
    text-align: center;
    padding: 5px;
}

.my-bullet{
    color: #888;
}
.my-bullet-active{
    border-bottom: 1px solid black;
    height: 28px;
    color:black;
    width: 30px;
    background: #fff;
    border-radius: 0;    
}

.swiper-include1{
    width: 100%;
    height: 367px;
    text-align: center;
    margin-top:100px;
    z-index: 10000;
}
.include{
    width:212px;
    height: 367px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 100;
}

.include img{
    width: 113px;
    height: 330px;
    position: absolute;
}
.to-left{
    left: 20%;
    top: 0;
}
.to-right{
    left:40%;
    top: 0;
}


.include-text{
    position: absolute;
    bottom: 0;
    left: 40%;
    font-size: 12px;
}
.include-left:hover .include-text{
    color: rgb(64, 120, 240)
}
.include-right:hover .include-text{
    color: rgb(64, 120, 240)
}
.include-center:hover .include-text{
    color: rgb(64, 120, 240)
}

.include-fade-pagination{
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 10;
    top: -460px;
}
.include-bullet{
    border:1px solid #d2d2d2;
    width: 76px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
    line-height: 18px;
    border-radius: 0;
    font-size: 10px;
    background: #fff;
    text-align: center;
}
.include-bullet-active{
    border:1px solid rgb(64, 120, 240);
}
.pagination-not span{
    cursor:default;
}
.large{
    text-align: center;
}
.phone-large{
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    height: 106px;
    width: 196px;
    margin:30px 0px;
}
.phone-large:hover{
    border: 1px solid black;
}
.phone-large div{
    font-weight: bold;
    font-size: 20px;
    margin-top: 12px;
}
.phone-large p{
    color: #928f8f;
    font-size: 12px;
}
.phone-large span{
    color: black;
    font-size: 14px;
}
.large-text{
    font-size: 12px;
}
.link-add{
    display: block;
    color: rgb(54, 116, 231);
    width: 100%;
    height: 20px;
    font-size: 16px;
}
.help{
    margin-top:30px;    
    color: black;
}
.help a{
    color: rgb(54, 116, 231);
}



.pre-bullet{
    color: rgb(83, 134, 243);
    background: #fff;
    border: none;
    width: 70px;
}



.new-phone{
    text-align: center;
}
.new-phone-img{
    height: 260px;
    width: 620px;
}
.total-infor{
    width: 100%;
    height: 300px;
    background: #f2f2f2;
}
.infor-box{
    width: 822px;
    height: 120px;
    border-bottom:1px solid #d2d2d2;
    margin: 0 auto;
}
.infor-box h4{
    font-size: 20px;
    font-weight: bold;
    margin:20px 0;
}
.infor-left{
    float: left;
}
.infor-right{
    float: right;
    text-align: right;
    font-size: 12px;
    line-height: 30px;
}
.price{
    font-size: 20px;
    font-weight: bold;    
}
.infor-box a{
    color: rgb(71, 117, 241);
    font-size: 12px;
    
}

.large-large{
    font-size: 24px !important;
}
.finish{
    height: 180px;
    line-height: 180px;
    padding-top:40px;
}
.car-btn{
    width:280px;
    height: 40px;
    background: rgb(71, 117, 241);
    border-radius: 4px;
    border:none;
    color: #fff;
    font-size: 14px;    
}
.love{
    color:rgb(71, 117, 241);
    font-size: 28px !important;
}
.car-btn a{
    color: #fff;
    text-decoration: none;
}